* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    -webkit-text-size-adjust: 100%;
}

#kivi-alumiglow {
    --white-color: #ffffff;
    --accent-color: #0f59d4;

    font-family: 'Montserrat', sans-serif;
    color: var(--white-color);
    max-width: 1920px;
    margin: 0 auto;

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        color: var(--white-color);
    }

    ul,
    ol {
        padding-left: 0;
        margin: 0;
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }

    section {
        padding: 9.6vw 0 14.9vw 0;

        @media (min-width: 960px) {
            padding: min(7.6vw, 109px) 0 min(9.16vw, 109px) 0;
        }
    }

    .container {
        width: 100%;
        max-width: 760px;
        margin: 0 auto;

        padding: 0 9.6vw;

        @media (min-width: 960px) {
            padding: 0 min(7.6vw, 109px);
            max-width: 100%;
        }

        @media (min-width: 1440px) {
            padding: 0;
            max-width: 1222px;
        }
    }

    .section-top-border {
        border-top-left-radius: 5.3vw;
        border-top-right-radius: 5.3vw;
        margin-top: -5.3vw;
        overflow: hidden;

        @media (min-width: 960px) {
            margin-top: max(-1.66vw, -24px);
            border-top-left-radius: min(1.66vw, 24px);
            border-top-right-radius: min(1.66vw, 24px);
        }
    }

    .section-title {
        font-weight: 600;
        font-size: clamp(18px, 7.46vw, 56px);
        line-height: 120%;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: var(--white-color);

        @media (min-width: 960px) {
            font-size: clamp(28px, 3.75vw, 54px);
        }
    }

    .sub-title {
        font-weight: 500;
        font-size: clamp(16px, 5.33vw, 40px);

        @media (min-width: 960px) {
            font-size: clamp(24px, 2.08vw, 30px);
        }
    }

    .main-text {
        font-weight: 400;
        font-size: clamp(12px, 4.26vw, 32px);
        line-height: 150%;
        letter-spacing: 0.01em;

        @media (min-width: 960px) {
            font-size: clamp(22px, 1.875vw, 27px);
        }
    }

    .link {
        text-decoration: none;
    }

    .list {
        list-style: none;
    }

    /* HERO section */

    .hero {
        aspect-ratio: 750/1120;
        background-image: url('../img/hero/bg_hero_mob.jpg');
        background-repeat: no-repeat;
        background-size: cover;

        @media (min-width: 760px) {
            aspect-ratio: auto;
            height: 1120px;
            background-position-y: center;
        }

        @media (min-width: 960px) {
            background-image: url('../img/hero/bg_hero_desc.jpg');
            aspect-ratio: 1440/800;
            height: auto;
        }

        @media (min-width: 1440px) {
            background-image: url('../img/hero/bg_hero_wide.jpg');
            aspect-ratio: 1750/800;
        }

        .hero-wrapper {
            display: flex;
            flex-direction: column;
            gap: 6.9vw;

            @media (min-width: 960px) {
                width: 32vw;
                max-width: 450px;
                gap: min(2.7vw, 39px);
            }

            .kivi-wrap {
                width: 43vw;
                max-width: 327px;

                @media (min-width: 960px) {
                    width: 16.87vw;
                    max-width: 243px;
                }
            }

            .model-wrapper {
                display: flex;
                flex-direction: column;
                gap: 3.3vw;

                @media (min-width: 960px) {
                    gap: min(1.38vw, 20px);
                }
            }

            .alumiglow-wrap {
                width: 100%;
            }
        }
    }

    /* UNIVERSAL MOUNT section */

    .universal-mount {
        aspect-ratio: 750/1120;
        background-image: url('../img/universal_mount/universal_mount_mob.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        @media (min-width: 960px) {
            background-image: url('../img/universal_mount/universal_mount_desc.jpg');
            aspect-ratio: 1440/800;
        }

        @media (min-width: 1440px) {
            background-image: url('../img/universal_mount/universal_mount_wide.jpg');
            aspect-ratio: 1750/800;
        }

        .section-title {
            color: var(--accent-color);

            @media (min-width: 960px) {
                width: 41%;
                max-width: 591px;
            }
        }
    }

    /* USE-CASES section */

    .use-cases {
        aspect-ratio: 750/1056;
        background-image: url('../img/use_cases/bg_use_cases_mob.png');
        background-size: cover;
        background-repeat: no-repeat;

        @media (min-width: 760px) {
            aspect-ratio: auto;
            height: 1056px;
        }

        @media (min-width: 960px) {
            aspect-ratio: auto;
            background-image: url('../img/use_cases/bg_use_cases_desc.png');
            height: auto;
        }

        @media (min-width: 1440px) {
            background-image: url('../img/use_cases/bg_use_cases_wide.png');
        }

        .use-cases-wrap {
            display: flex;
            flex-direction: column;
            gap: 6.9vw;

            @media (min-width: 960px) {
                gap: min(5.41vw, 78px);
            }
        }

        .use-cases-item {
            aspect-ratio: 500/606;
            border-radius: 5.3vw;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 8vw;
            display: flex;
            align-items: flex-end;

            @media (min-width: 960px) {
                aspect-ratio: 1/1;
                padding: min(3.95vw, 57px);
                border-radius: min(1.52vw, 22px);

                flex: 1 1 calc(50% - 20px);
            }

            &.item-1 {
                background-image: url('../img/use_cases/use_cases_item-1-mob.png');

                @media (min-width: 960px) {
                    background-image: url('../img/use_cases/use_cases_item-1-desc.png');
                }
            }

            &.item-2 {
                background-image: url('../img/use_cases/use_cases_item-2-mob.png');

                @media (min-width: 960px) {
                    background-image: url('../img/use_cases/use_cases_item-2-desc.png');
                }
            }

            &.item-3 {
                background-image: url('../img/use_cases/use_cases_item-3-mob.png');

                @media (min-width: 960px) {
                    background-image: url('../img/use_cases/use_cases_item-3-desc.png');
                }
            }

            &.item-4 {
                background-image: url('../img/use_cases/use_cases_item-4-mob.png');

                @media (min-width: 960px) {
                    background-image: url('../img/use_cases/use_cases_item-4-desc.png');
                }
            }
        }

        .use-cases-list {
            display: none;

            @media (min-width: 960px) {
                display: flex;
                flex-wrap: wrap;
                gap: min(2.77vw, 40px);
            }
        }
    }

    /* ATMOSPHERE section */

    .atmosphere {
        aspect-ratio: 750/1120;
        background-image: url('../img/atmosphere/bg_atmosphere_mob.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        @media (min-width: 960px) {
            background-image: url('../img/atmosphere/bg_atmosphere_web.jpg');
            aspect-ratio: 1440/800;
        }

        @media (min-width: 1440px) {
            background-image: url('../img/atmosphere/bg_atmosphere_wide.jpg');
            aspect-ratio: 1750/800;
        }

        .container {
            display: flex;
            height: 100%;
        }

        .atmosphere-wrap {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media (min-width: 960px) {
                justify-content: center;
                gap: min(78px, 5.41vw);
                width: min(41vw, 591px);
            }
        }
    }

    /* SUNRISE-SUNSET section */

    .sunrise-sunset {
        background: linear-gradient(180deg, #002345 0%, rgba(0, 40, 80, 0) 69.23%, #01203f 100%),
            #000;

        @media (min-width: 960px) {
            background: url('../img/sunrise_sunset/bg_sunrise_sunset-web.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }

        .sunrise-sunset-wrap {
            display: flex;
            flex-direction: column;
            gap: 6.9vw;

            @media (min-width: 960px) {
                gap: min(4.1vw, 60px);
            }

            .sunrise-sunset-item {
                aspect-ratio: 500/606;
                border-radius: 5.3vw;
                background-repeat: no-repeat;
                background-size: cover;
                padding: 8vw;
                display: flex;
                align-items: flex-end;
                overflow: hidden;

                @media (min-width: 960px) {
                    aspect-ratio: 597/346;
                    padding: min(2.5vw, 36px);
                    border-radius: min(0.9vw, 13px);
                    flex: 1 1 calc(50% - 14px);
                    border: 0.75px solid #0081fe;
                }

                &.item-1 {
                    background-image: url('../img/sunrise_sunset/sunrise_sunset_item-1-mob.png');

                    @media (min-width: 960px) {
                        background-image: url('../img/sunrise_sunset/sunrise_sunset_item-1-web.png');
                    }
                }

                &.item-2 {
                    background-image: url('../img/sunrise_sunset/sunrise_sunset_item-2-mob.png');

                    @media (min-width: 960px) {
                        background-image: url('../img/sunrise_sunset/sunrise_sunset_item-2-web.png');
                    }
                }
            }

            .sunrise-sunset-list {
                display: none;

                @media (min-width: 960px) {
                    display: flex;
                    flex-direction: row;
                    gap: min(1.875vw, 27px);
                }
            }
        }
    }

    /* EYES STRAIN section */

    .eyes-strain {
        aspect-ratio: 750/1120;
        background-image: url('../img/eyes_strain/bg_eyes_strain-mob.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        @media (min-width: 960px) {
            background-image: url('../img/eyes_strain/bg_eyes_strain-desc.jpg');
            aspect-ratio: 1440/806;
        }

        @media (min-width: 1440px) {
            background-image: url('../img/eyes_strain/bg_eyes_strain-wide.jpg');
            aspect-ratio: 1750/800;
        }

        .container {
            display: flex;
            height: 100%;

            @media (min-width: 960px) {
                justify-content: flex-end;
            }
        }

        .eyes-strain-wrap {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media (min-width: 960px) {
                justify-content: center;
                gap: min(78px, 5.41vw);
                width: min(41vw, 591px);
            }
        }
    }

    /* MAGNETIC section */

    .magnetic {
        background-image: url('../img/magnetic/bg_magnetic-mob.png');
        background-size: cover;
        background-repeat: no-repeat;

        @media (min-width: 960px) {
            background-image: url('../img/magnetic/bg_magnetic-desc.png');
            background-position: center;
        }

        @media (min-width: 1440px) {
            background-image: url('../img/magnetic/bg_magnetic-wide.png');
        }

        .magnetic-wrap {
            display: flex;
            flex-direction: column;
            gap: 6.9vw;

            @media (min-width: 960px) {
                gap: min(78px, 5.41vw);
            }

            .section-title {
                margin-bottom: 50vw;

                @media (min-width: 960px) {
                    margin-bottom: 0;
                    width: min(41vw, 591px);
                }
            }

            .main-text {
                @media (min-width: 960px) {
                    width: min(41vw, 591px);
                }
            }

            .magnetic-item {
                aspect-ratio: 500/606;
                border-radius: 3.6vw;
                background-repeat: no-repeat;
                background-size: cover;
                padding: 8vw;
                display: flex;
                align-items: flex-end;
                overflow: hidden;
                border: 1.5px solid #0081fe;

                @media (min-width: 960px) {
                    aspect-ratio: 388/361;
                    padding: min(2.5vw, 36px);
                    border-radius: min(0.9vw, 13px);
                    flex: 1 1 calc(50% - 14px);
                    border: 0.75px solid #0081fe;
                }

                &.item-1 {
                    background-image: url('../img/magnetic/magnetic_item-1-mob.png');

                    @media (min-width: 960px) {
                        background-image: url('../img/magnetic/magnetic_item-1-desc.png');
                    }
                }

                &.item-2 {
                    background-image: url('../img/magnetic/magnetic_item-2-mob.png');

                    @media (min-width: 960px) {
                        background-image: url('../img/magnetic/magnetic_item-2-desc.png');
                    }
                }

                &.item-3 {
                    background-image: url('../img/magnetic/magnetic_item-3-mob.png');

                    @media (min-width: 960px) {
                        background-image: url('../img/magnetic/magnetic_item-2-desc.png');
                    }
                }
            }

            .magnetic-list {
                display: none;

                @media (min-width: 960px) {
                    display: flex;
                    flex-direction: row;
                    gap: min(1.875vw, 27px);
                }
            }
        }
    }

    /* REMOTE section */

    .remote {
        background-image: url('../img/remote/bg_remote-mob.png');
        background-size: cover;
        background-repeat: no-repeat;
        aspect-ratio: 750/2342;

        @media (min-width: 960px) {
            background-image: url('../img/remote/bg_remote-desc.png');
            background-position: center;
            aspect-ratio: auto;
        }

        @media (min-width: 1440px) {
            background-image: url('../img/remote/bg_remote-wide.png');
        }

        .remote-wrap {
            display: flex;
            flex-direction: column;
            gap: 76vw;
            margin-bottom: min(16vw, 120px);

            @media (min-width: 760px) {
                gap: 80vw;
                margin-bottom: min(7.77vw, 112px);
            }

            @media (min-width: 960px) {
                gap: min(5.41vw, 78px);
                width: min(41vw, 591px);
            }
        }

        .lighting-wrap {
            @media (min-width: 960px) {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: flex-end;
                gap: min(2.7vw, 40px);
            }

            .lighting-info {
                display: flex;
                flex-direction: column;
                gap: 6.9vw;

                @media (min-width: 960px) {
                    gap: min(5.41vw, 78px);
                    width: min(41vw, 591px);
                }
            }

            .lighting-list {
                display: none;

                @media (min-width: 960px) {
                    display: flex;
                    gap: min(2.7vw, 40px);
                }
            }

            .lighting-item {
                display: flex;
                flex-direction: column;
                gap: min(5.3vw, 40px);

                .lighting-text {
                    font-weight: 300;
                    font-size: clamp(10px, 3.2vw, 24px);

                    @media (min-width: 960px) {
                        font-size: clamp(14px, 1.875vw, 27px);
                    }
                }

                .lighting-block {
                    display: flex;
                    gap: min(16px, 2.13vw);
                    align-items: center;

                    &::before {
                        content: '';
                        display: block;
                        width: min(8vw, 60px);
                        height: min(8vw, 60px);
                        background-size: cover;
                        background-repeat: no-repeat;

                        @media (min-width: 960px) {
                            width: min(3.47vw, 50px);
                            height: min(3.47vw, 50px);
                        }
                    }

                    &.item-1::before {
                        background-image: url('../img/remote/lighting-item-1.svg');
                    }

                    &.item-2::before {
                        background-image: url('../img/remote/lighting-item-2.svg');
                    }

                    &.item-3::before {
                        background-image: url('../img/remote/lighting-item-3.svg');
                    }

                    &.item-4::before {
                        background-image: url('../img/remote/lighting-item-4.svg');
                    }

                    &.item-5::before {
                        background-image: url('../img/remote/lighting-item-5.svg');
                    }

                    &.item-6::before {
                        background-image: url('../img/remote/lighting-item-6.svg');
                    }

                    &.item-7::before {
                        background-image: url('../img/remote/lighting-item-7.svg');
                    }

                    &.item-8::before {
                        background-image: url('../img/remote/lighting-item-8.svg');
                    }

                    &.item-9::before {
                        background-image: url('../img/remote/lighting-item-9.svg');
                    }

                    &.item-10::before {
                        background-image: url('../img/remote/lighting-item-10.svg');
                    }

                    &.item-11::before {
                        background-image: url('../img/remote/lighting-item-11.svg');
                    }

                    &.item-12::before {
                        background-image: url('../img/remote/lighting-item-12.svg');
                    }
                }
            }
        }
    }

    /* MOTION section */

    .motion {
        background-image: url('../img/motion/bg_motion-mob.png');
        background-size: cover;
        background-repeat: no-repeat;

        @media (min-width: 960px) {
            background-image: url('../img/motion/bg_motion-desc.png');
            background-position: center;
        }

        @media (min-width: 1440px) {
            background-image: url('../img/motion/bg_motion-wide.png');
        }

        .motion-wrap {
            display: flex;
            flex-direction: column;
            gap: 6.9vw;

            @media (min-width: 960px) {
                gap: min(78px, 5.41vw);
            }

            .section-title {
                margin-bottom: 70vw;

                @media (min-width: 960px) {
                    margin-bottom: 0;
                    width: min(41vw, 591px);
                    margin-left: auto;
                }
            }

            .main-text {
                @media (min-width: 960px) {
                    width: min(41vw, 591px);
                    margin-left: auto;
                }
            }

            .motion-item {
                aspect-ratio: 520/606;
                border-radius: 3.6vw;
                background-repeat: no-repeat;
                background-size: cover;
                padding: 8vw;
                display: flex;
                justify-content: space-between;
                overflow: hidden;

                @media (min-width: 960px) {
                    aspect-ratio: 1/1;
                    padding: min(2.5vw, 36px);
                    border-radius: min(0.9vw, 13px);
                    flex: 1 1 calc(50% - 14px);
                }

                &.item-1 {
                    background-image: url('../img/motion/motion_item-1-mob.png');
                    flex-direction: column;
                    align-items: flex-end;

                    @media (min-width: 960px) {
                        background-image: url('../img/motion/motion_item-1-desc.png');
                    }
                }

                &.item-2 {
                    background-image: url('../img/motion/motion_item-2-mob.png');
                    flex-direction: column;

                    align-items: flex-end;

                    @media (min-width: 960px) {
                        background-image: url('../img/motion/motion_item-2-desc.png');
                    }
                }

                &.item-3 {
                    background-image: url('../img/motion/motion_item-3-mob.png');

                    @media (min-width: 960px) {
                        background-image: url('../img/motion/motion_item-2-desc.png');
                    }
                }

                .motion-title {
                    font-weight: 600;
                    font-size: clamp(28px, 7.46vw, 56px);
                    line-height: 120%;
                    letter-spacing: 0.01em;
                    text-transform: uppercase;

                    @media (min-width: 960px) {
                        font-size: clamp(20px, 2.7vw, 39px);
                    }
                }
            }

            .motion-list {
                display: none;

                @media (min-width: 960px) {
                    display: flex;
                    flex-direction: row;
                    gap: min(1.875vw, 27px);
                    padding-top: min(5.5vw, 80px);
                }
            }
        }
    }

    /* VERSALITE section */

    .versalite {
        background-image: url('../img/versalite/bg_versalite-mob.png');
        background-size: cover;
        background-repeat: no-repeat;

        @media (min-width: 960px) {
            background-image: url('../img/versalite/bg_versalite-desc.png');
            background-position: center;
        }

        @media (min-width: 1440px) {
            background-image: url('../img/versalite/bg_versalite-wide.png');
        }

        .versalite-info {
            display: flex;
            flex-direction: column;
            gap: 58vw;

            @media (min-width: 960px) {
                padding-right: 30px;
                gap: min(78px, 5.41vw);
                width: min(41vw, 591px);
            }
        }

        .versalite-list {
            margin-top: min(9.3vw, 70px);
            display: flex;
            flex-direction: column;
            gap: min(6.66vw, 50px);

            @media (min-width: 960px) {
                flex-direction: row;
                gap: min(1.875vw, 27px);
                margin-top: min(6.56vw, 94px);
            }

            .versalite-item {
                display: flex;
                gap: min(6.66vw, 50px);
                align-items: center;

                @media (min-width: 960px) {
                    flex: 1 1 calc(33% - 13px);
                    gap: min(2.5vw, 36px);
                    padding: min(2.2vw, 32px);
                    border: 0.75px solid #fff;
                    border-radius: min(1vw, 13px);
                }

                .img-wrap {
                    flex-shrink: 0;
                    width: min(12.2vw, 92px);
                    display: flex;
                    flex-shrink: 0;
                    align-items: center;
                    gap: min(3.33vw, 25px);

                    &::after {
                        content: '';
                        display: block;
                        flex-shrink: 0;
                        width: 1px;
                        height: min(10.6vw, 80px);
                        background-color: var(--white-color);
                    }

                    @media (min-width: 960px) {
                        width: min(4.16vw, 60px);

                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    /* BENEFITS section */

    .benefits {
        background: linear-gradient(180deg, #002345 0%, #000 100%);

        @media (min-width: 960px) {
            background: url('../img/benefits/bg_desc.png'), #000;
            background-repeat: no-repeat;
        }

        .benefits-wrap {
            display: flex;
            flex-direction: column;
            gap: 6.9vw;

            @media (min-width: 960px) {
                gap: min(78px, 5.41vw);
            }

            .benefits-slide {
                display: flex;
                flex-direction: column;
                gap: min(12vw, 90px);
            }

            .benefits-item {
                display: flex;
                align-items: center;
                gap: min(6.66vw, 50px);
                height: min(12.8vw, 96px);

                @media (min-width: 960px) {
                    flex: 1 1 calc(33% - 15px);
                    gap: min(2.5vw, 36px);
                    padding: min(2.2vw, 32px);
                    border: 0.75px solid #0081fe;
                    border-radius: min(1vw, 13px);
                    height: auto;
                }

                .img-wrap {
                    display: flex;
                    flex-shrink: 0;
                    gap: min(3.33vw, 25px);
                    align-items: center;
                    width: min(12.8vw, 96px);

                    &::after {
                        content: '';
                        display: block;
                        flex-shrink: 0;
                        width: 1px;
                        height: min(12.8vw, 96px);
                        background-color: var(--white-color);
                    }

                    @media (min-width: 960px) {
                        width: min(4.16vw, 60px);

                        &::after {
                            display: none;
                        }
                    }
                }
            }

            .benefits-list {
                display: none;

                @media (min-width: 960px) {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: min(1.875vw, 27px);
                }
            }
        }
    }

    /* VIDEO section */

    .video {
        padding: 0;

        .yt-container {
            width: 100%;

            iframe {
                display: block;
            }
        }
    }

    /* SPECS section */

    .specs {
        background: linear-gradient(180deg, #56404c 0%, #000 100%);
        overflow: hidden;
        margin-top: -2px;

        @media (min-width: 960px) {
            background: radial-gradient(85.07% 79.75% at 25.56% 16.67%, #5b4451 0%, #000 100%);
        }
        .specs-wrap {
            display: flex;
            flex-direction: column;
            gap: 6.9vw;

            @media (min-width: 960px) {
                gap: min(78px, 5.41vw);
            }

            .swiper-wrapper {
                align-items: center;
            }

            .specs-slide {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: min(4.8vw, 36px);
            }

            .specs-item {
                display: flex;
                justify-content: space-between;
                align-items: baseline;

                .specs-text {
                    flex-shrink: 0;
                    font-weight: 300;
                    font-size: clamp(10px, 3.2vw, 24px);
                    letter-spacing: -0.01em;

                    @media (min-width: 960px) {
                        font-size: clamp(14px, 1.875vw, 27px);
                    }
                }

                .doted {
                    width: 100%;
                    height: 2px;
                    margin: 0 4px;
                    flex-grow: 1;

                    background-image: repeating-linear-gradient(
                        to right,
                        #0081fe,
                        #0081fe 2px,
                        transparent 2px,
                        transparent 8px
                    );
                }

                .done-icon {
                    display: flex;
                    flex-shrink: 0;
                    justify-content: center;
                    align-items: center;
                    color: var(--white-color);
                    width: clamp(10px, 3.2vw, 24px);
                    height: clamp(10px, 3.2vw, 24px);
                    border-radius: min(0.8vw, 6px);
                    background-color: #0081fe;

                    @media (min-width: 960px) {
                        width: clamp(14px, 1.875vw, 27px);
                        height: clamp(14px, 1.875vw, 27px);
                    }
                }

                .spec-accent {
                    font-weight: 600;
                    color: #0081fe;
                }
            }

            .specs-list {
                display: none;

                @media (min-width: 960px) {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    /* gap: min(6.66vw, 96px); */

                    .specs-item-wrap {
                        display: flex;
                        flex-wrap: wrap;
                        gap: min(2.5vw, 36px);
                        justify-content: center;

                        &:not(:last-child) {
                            margin-bottom: min(2.5vw, 36px);

                            &::after {
                                content: '';
                                display: block;
                                width: 100%;
                                height: 1px;
                                background-color: #0081fe;
                            }
                        }

                        .specs-item {
                            flex: 0 1 calc(50% - 18px);
                        }
                    }
                }
            }
        }
    }

    /* SUPPORT section */

    .support {
        background: linear-gradient(180deg, #002345 0%, #000 100%);

        .support-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 6.9vw;

            @media (min-width: 960px) {
                gap: min(78px, 5.41vw);
            }

            .section-title {
                font-size: clamp(16px, 6.53vw, 49px);
                text-align: center;

                @media (min-width: 960px) {
                    font-size: clamp(28px, 3.75vw, 54px);
                }
            }

            .support-info-wrap {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 6.9vw;

                @media (min-width: 960px) {
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                }

                .email-block {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: min(3.33vw, 25px);

                    @media (min-width: 960px) {
                        gap: min(1vw, 15px);
                    }

                    .icon-wrap {
                        width: min(30vw, 255px);

                        @media (min-width: 960px) {
                            width: min(8.81vw, 127px);
                        }
                    }

                    .email-adress {
                        font-weight: 400;
                        font-size: clamp(14px, 5vw, 38px);
                        letter-spacing: 0.01em;
                        color: var(--white-color);

                        @media (min-width: 960px) {
                            font-size: clamp(16px, 1.45vw, 21px);
                        }
                    }
                }

                .qr-block {
                    display: flex;
                    flex-wrap: wrap;
                    gap: min(6.66vw, 50px);

                    @media (min-width: 960px) {
                        flex-wrap: nowrap;
                        gap: min(2.7vw, 39px);
                    }

                    .qr-wrap {
                        flex: 1 1 calc(50% - 26px);

                        @media (min-width: 960px) {
                            flex: 1 1 auto;
                            width: min(7.3vw, 105px);
                        }

                        &.warranty {
                            display: flex;
                            flex-direction: column;
                            gap: min(0.5vw, 4px);
                            justify-content: center;

                            @media (min-width: 960px) {
                                display: none;
                            }
                        }
                    }
                }
                .warranty-block {
                    display: none;

                    @media (min-width: 960px) {
                        display: flex;
                        flex-direction: column;
                        gap: min(0.2vw, 4px);
                        justify-content: center;
                    }
                }

                .years-wrap {
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;

                    .warranty-years {
                        font-weight: 300;
                        font-size: clamp(22px, 7.8vw, 56px);
                        color: var(--white-color);
                        letter-spacing: 0.01em;
                        text-transform: uppercase;
                        line-height: 120%;

                        @media (min-width: 960px) {
                            font-size: clamp(20px, 3.125vw, 45px);
                        }
                    }

                    .number-wrap {
                        width: min(9vw, 68px);

                        @media (min-width: 960px) {
                            width: min(3.6vw, 52px);
                        }
                    }
                }

                .warranty-text {
                    font-weight: 300;
                    font-size: clamp(22px, 7.8vw, 56px);
                    color: var(--white-color);
                    letter-spacing: 0.01em;
                    text-transform: uppercase;
                    line-height: 120%;

                    @media (min-width: 960px) {
                        font-size: clamp(20px, 3.1vw, 44px);
                    }
                }
            }
        }
    }

    /* ------ swiper ------- */

    .swiper-container {
        position: relative;
        padding-bottom: 8vw;

        @media (min-width: 960px) {
            display: none;
        }

        .swiper-pagination {
            position: absolute;
            bottom: -3vw;
            width: 100%;
            text-align: center;

            @media (min-width: 760px) {
                bottom: -2vw;
            }

            .swiper-pagination-bullet {
                background-color: #595959;
                width: min(2.1vw, 16px);
                height: min(2.1vw, 16px);
                opacity: 1;
                margin: 0 min(1.3vw, 10px) !important;
            }

            .swiper-pagination-bullet-active {
                background-color: #fff;
            }
        }
    }
}
